.headerer
{
    color: mediumspringgreen;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
    background-color: gray;
    height: 150px;
    padding: 60px 0px;
}

.navvy
{
    background-color: gold;
    padding: 0px 15px 0px 0px;
    
}

.res
{   
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.resist
{
    display: block;
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}