body{
    height:100vh;
    margin:0;
    display:flex; 
    flex-direction:column;
}

.dropdown-menu
{
    background-color: black;
}

.dropdown-item
{
    color: whitesmoke;
}

.carousel-inner img
{
    width: 100%;
    margin: 0 auto;
}

.center-home
{
    font-size: 180%;
}

.container-fluid
{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.navbar
{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.bodyBanner
{
    border: solid 2px blue;
    margin: 15px 0px 0px;
    position: relative;
    text-align: center;
    color: white;
}

.bannerText{
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formHead
{
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: mediumturquoise;
    padding-top: none;
    height: 50px;
}

.formBorder
{
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.notice
{
    border: 5px red double;
    display: block;
}

.ticketOut
{
    margin: 15px;
    position: relative;
}

.imgBlock
{
    display: block;
    margin: auto;
}

.ticketIn01
{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4vmin;
}

.ticketIn02
{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3vmax;
}

.row
{
    padding-bottom: 2px;
}

footer
{
    background-color: black;
    font-size: 1ex;
    color: cornsilk;
    margin-top: auto;
    width: 100%;
    
}

strong
{
    font: bold;
    color: skyblue;
    font-size: 3ex;
}
