/*html, body
{
    overflow-x: hidden;
}

body
{
    position: relative
}*/

.carousel-inner img
{
    width: 100%;
    margin: 0 auto;
}

.center-home
{
    font-size: 180%;
}

.container-fluid
{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.navbar
{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.bodyBanner
{
    border: solid 2px blue;
    margin: 15px 0px 0px;
    position: relative;
    text-align: center;
    color: white;
}

.bannerText{
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formHead
{
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: mediumturquoise;
    padding-top: none;
    height: 50px;
}

.formBorder
{
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.row
{
    padding-bottom: 2px;
}
